AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

MICROCMS_API_KEY=""
MICROCMS_SERVICE_DOMAIN=""
BASE_URL=""

# For development
TEST_MODE="false"
# For without Google Authentication
NEXT_PUBLIC_OFFLINE_MODE="false"
